#d1{
  background-color:#ffdbe5;
}

h1 {
  text-align: center;
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
}

h2{
  text-align: center;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
}

p{
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

#b1{
  text-align: center;
}

.fotoa{
  display: flex;
  justify-content: center;
}

.scratchjr{
  width: 400px;
  height: 250px;
  margin-bottom: 30px;
}

.scratch{
  width: 400px;
  height: 250px;
  margin-bottom: 30px;
}
