<div id ="d1" *ngIf="controllo()">
  <header>
    <h1>Approfondimenti</h1>
    <h2>Scratch e Scratch jr</h2>
  </header>
  <p>
    <b>Scratch</b>
    E' una delle piattaforme di coding più importante è Scratch che permette di creare storie, progetti scolastici,
    animazioni e giochi attraverso una programmazione a blocchi.
    Per mezzo delle estensioni di Scratch è possibile inoltre programmare dispositivi fisici, come per esempio
    Makey Makey.
  </p>
  <div class="fotoa">
    <img src='https://res.cloudinary.com/dx7j6eumf/image/upload/v1681456127/scratch_v9pit5.png' alt="scratchjr"
      class="scratch">
  </div>
  <p>
    A Scratch si inspira la piattaforma <b>ScratchJr</b>, pensata per muovere i primi passi verso la programmazione a
    Blocchi. Con la creazione di piccole storie, animazioni, o con le attività già proposte si esplorano il mondo
    dei numeri, delle forme geometriche, si imparano parole nuove, si familiarizza con l’attesa e con l’errore,
    tutto divert I bambini, i ragazzi, gli adulti, potranno impare facendo, potranno
    impare per imparare.

  </p>

  <div class="fotoa">
    <img src='https://res.cloudinary.com/dx7j6eumf/image/upload/v1681455428/scratchjr_inffwy.png' alt="scratchjr"
      class="scratchjr">
  </div>

</div>
