<div id="d1">
  <header>
    <h1>Laboratori</h1>
  </header>
  <!--Introduzione-->
  <h2 id ="h">
    <b>I Laboratori di Robotica Educativa</b> permettono di acquisire obiettivi disciplinari in ambito delle materie
    STEAM, di conoscere il coding e di acquisire competenze trasversali come:
  </h2>

  <p id="p2">
    <b>
      • Problem solving
      • Creatività
      • Pensiero computazionale
      • Pensiero Matematico
      • Pensiero logico
      • Pensiero laterale
      • Costruzione del senso del numero
      • Abilità sociali ed emotive
      • Concetti topologici
      • Astrazione
      • Collaborazione
      • Debugging
    </b>
  </p>

  <!-- Card per Laboratori -->
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card" >
          <img [src]="laboratori[0].url"class="card-img-top i1 img-fixed-height" alt="...">
          <div class="card-body">
            <h5 class="card-title" appHightlight>Laboratorio con BeeBot</h5>
            <button id="button" (click)="showHidden()">Descrizione</button>
            <div *ngIf="show">
              <p class="card-text">Disegnata una griglia di conchiglie colorate su un cartoncino.<br>
                 I bambini hanno utilizzato il proprio corpo per determinare i movimenti e poi hanno programmato BeeBot con i comandi appropriati per raggiungere la conchiglia selezionata.<br>
                 Ogni volta che raggiungevano la conchiglia, dovevano dire il nome del colore in inglese</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img [src]="laboratori[1].url" class="card-img-top i1 img-fixed-height" alt="...">
          <div class="card-body">
            <h5 class="card-title" appHightlight>Laboratorio con Mtiny</h5>
            <button id="button" (click)="showHidden()">Descrizione</button>
            <div *ngIf="show">
              <p class="card-text">Mtiny può assumere diverse espressioni, che consentono a chi
                interagisce con lui di familiarizzare con esse. <br> Utilizzando delle tessere e una reading pen, i bambini hanno programmato il robot lungo un percorso e scelto l'emozione che meglio percepivano in quel momento, fra quelle proposte.<br>
                Ottenendo un miglioramento nella regolazione e gestione delle emozioni.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3" >
        <div class="card">
          <img [src]="laboratori[2].url" class="card-img-top i1 img-fixed-height" alt="...">
          <div class="card-body">
            <h5 class="card-title" appHightlight>Laboratorio con MakeyM</h5>
            <button id="button" (click)="showHidden()">Descrizione</button>
            <div *ngIf="show">
              <p class="card-text">MakeyM collegata a Scratch <br>
                può essere utilizzata per creare controller personalizzati per i videogiochi /attività.<br>
                In questo modo, è possibile trasformare qualsiasi oggetto, <br>in un dispositivo di input per il computer.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img [src]="laboratori[3].url" class="card-img-top i1 img-fixed-height" alt="...">
          <div class="card-body">
            <h5 class="card-title" appHightlight>Laboratorio con Codey</h5>
            <button id="button" (click)="showHidden()">Descrizione</button>
            <div *ngIf="show">
              <p class="card-text">Codey può essere utilizzato per spiegare il concetto dello spettro dei colori grazie al suo sensore di colore.<br>
                 Questo sensore emette una luce composta da tutti i colori e controlla quali colori ritornano quando il raggio di luce colpisce una superficie colorata. <br>
                 In questo modo, il sensore è in grado di distinguere i diversi colori che compongono lo spettro visibile.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Carousel  <img src="https://via.placeholder.com/300x200">-->


  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://res.cloudinary.com/dx7j6eumf/image/upload/v1681461383/mtiny1_yqkw9a.jpg" id="imgc" alt="Random first slide" />
      </div>

    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://res.cloudinary.com/dx7j6eumf/image/upload/v1681461358/beec_pb3tvo.jpg" id="imgc" alt="Random second slide" />
      </div>

    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://res.cloudinary.com/dx7j6eumf/image/upload/v1681461370/makeyc_uu5jcf.jpg" id="imgc" alt="Random third slide" />
      </div>

    </ng-template>
  </ngb-carousel>

</div>
