<body>

  <h1>Coding e Robotica Educativa</h1>
  <p>Il coding e la robotica educativa, possono essere dei preziosi alleati nella crescita e nello sviluppo dei
    bambini e ragazzi.
    Tali metodologie, permettono di far lavorare in gruppo alunni, educatori, genitori, attraverso differenti stili
    di apprendimento, da quello laboratoriale a quello tangibile. Queste nuove metodologie consentono di
    sviluppare competenze e abilità, non solo utili dal punto di vista tecnologico, matematico ma anche da
    quello della risoluzione dei problemi.
    Il Coding e la robotica possono essere metodologie preziose ed efficaci per una didattica inclusiva, perché
    ad ogni bambino, ragazzo, può essere assegnato un compito specifico, in linea con le sue capacità e
    potenzialità.
    Con “coding” si intende, in maniera informale, la programmazione informatica e permette di tradurre in
    codici quello che è il nostro pensiero, rendendolo comprensibile ad un computer, robot o un qualsiasi
    oggetto programmabile.
    Il Coding è uno fra gli strumenti di programmazione più validi per lo sviluppo del pensiero computazionale.
  </p>
  <div class="fotoc">
    <img src='https://cdn.pixabay.com/photo/2014/04/03/11/55/robot-312566_960_720.png' alt="photo-robot" class="robo">
  </div>


  <p>ll <b>pensiero computazionale</b> è un processo di formulazione di problemi e di soluzioni
    in una forma che sia eseguibile da un agente che processi informazioni e affermò che Il pensiero
    computazionale è una abilità fondamentale per tutti, che dovrebbe diventare la quarta abilità di base oltre
    al saper “leggere, scrivere e fare di conto”. Il pensiero computazionale è un processo mentale che consente
    di risolvere problemi, innescando un pensiero logico creativo che permette la scomposizione di un
    problema più complesso in uno più accessibile, scomponendolo in più parti e trovando soluzioni
    alternative. I problemi vengono cosi risolti seguendo metodi e strumenti e pianificando una
    strategia con il ciclo PDCA(plan-do–check-act) pianificare, fare, verificare, agire.
  </p>

  <div class="fotoc">
    <img
      src='https://media.istockphoto.com/id/1134608636/it/foto/il-piano-pdca-controlla-latto-scritto-sui-bastoncini-memo.jpg?s=2048x2048&w=is&k=20&c=t0wL5c7T8a_itlMnWgBnRa7SYUFZk02qdrOtMiFlI5o='
      alt="photo-robot" class="pdca">
  </div>
  <p>
    <b>Il Coding</b> consente di migliorare la fiducia in se stessi, le proprie capacità di logica e analisi,
    stimola l’attitudine al problem solving, di sperimentare in prima persona e consente di realizzare progetti.
    <b>I Laboratori di Robotica Educativa e di Tinkering (think make improve)</b>I Laboratori di Robotica Educativa e di
    Tinkering (think make improve) possano rivelarsi
    metodologie innovative ed efficaci anche per bambini con Bisogni Educativi Speciali.
    <b>I Robot</b>
    I robot, infatti generano stupore, interesse e stimolano
    l’attenzione, inoltre suscitano un coinvolgimento
    emotivo con i bambini ed i ragazzi al punto che questi ultimi si prendono
    cura di loro.
  </p>

  <div class="fotoc">
    <img src='https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg' alt="photo-robot"
      class="coding">
  </div>


  <h3>BeeBot & Mtiny</h3>
  <p>BeeBot & Mtiny
    sono due simpatici robot, dal design giocoso e accattivante e grazie ad essi, i
    bambini ed i ragazzi saranno motivati nell’apprendimento attraverso attività artistiche, unplugged , story
    telling e psicomotricità.
    <br> Eserciteranno attraverso un apprendimento tangibile e laboratoriale:
    <br><b>•Pensiero computazionale
      • Abilità sociali ed emotive
      • Collaborazione
      • Lateralizzazione
      • Creatività
      • Debugging
      • Pensiero laterale
      • Pensiero Matematico
      • Pensiero logico
      • Concetti topologici
    </b>
  </p>

  <p>
    Con <b>Bee Bot</b>,una simpatica ape, si possono esplorare lo spazio, colori, lettere, numeri e forme
    geometriche attraverso una programmazione tangibile.
    Le attività unplugged consentono di creare divertenti percorsi, percorrendoli utilizzando prima il corpo e
    poi Bee Bot, programmandolo con i relativi comandi.
  </p>
  <div class="fotoc">
    <img src='https://res.cloudinary.com/dx7j6eumf/image/upload/v1681413581/cbeebot_idnuvx.jpg' alt="photo-robot"
      class="bee">
  </div>

  <p>
    Il panda <b>Mtiny</b> promuove l’apprendimento multisensoriale e multidisciplinare grazie all’utilizzo della
    reading pen e ad un linguaggio di programmazione tangibile, muovendosi su mappe
    tematiche coinvolgenti.
    Mtiny può assumere diverse espressioni, che consentono a chi interagisce con lui di familiarizzare con esse.
    ll robot, grazie ai suoi occhioni dolci e le sue adorabili vocine, riesce a catturate l’attenzione di tutti.
  </p>

  <div class="fotoc">
    <img src='https://res.cloudinary.com/dx7j6eumf/image/upload/v1681414505/mtinyc_hrl8zp.png' alt="photo-robot"
      class="mtiny">
  </div>

  <h3>Makey Makey</h3>

  <p><b>Makey Makey</b> è una scheda a circuito stampato in grado di trasformare qualunque cosa in una tastiera del
    computer. Basta collegare le pinze a coccodrillo contenute nella sua scatola a qualsiasi oggetto per
    trasformarlo in un controller touch sfruttando la sua conducibilità elettrica
  </p>

  <div class="fotoc">
    <img src='https://res.cloudinary.com/dx7j6eumf/image/upload/v1681415831/makey_endiw6.png' alt="photo-robot"
      class="makey">
  </div>

  <p>Un qualsiasi oggetto può diventare uno strumento musicale e consultando il sito ufficiale della Makey
    Makey è possibile trovare differenti attività.
    Makey Makey può essere utilizzata anche con Scratch e ricreare una vera e propria tastiera da utilizzare per
    le animazioni
  </p>




</body>
