#d1 {
  background-color: #ffdbe5;
}

h1 {
  text-align: center;
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
}

h3 {
  text-align: center;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
}

p {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.robo {
  width: 90px;
  margin-bottom: 15px;
}

.fotoc {
  display: flex;
  justify-content: center;
}

.pdca {
  width: 170px;
  margin-bottom: 10px;
}

.coding {
  width: 170px;
  height: 130px;
  margin-bottom: 30px;
}

.bee {
  width: 130px;
  height: 130px;
  margin-bottom: 30px;
}

.mtiny {
  width: 130px;
  height: 130px;
  margin-bottom: 30px;
}

.makey {
  width: 170px;
  height: 130px;
  margin-bottom: 30px;
}
